Source: ros-dashing-rosidl-typesupport-opensplice-c
Section: misc
Priority: extra
Maintainer: William Woodall <william@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libopensplice69 (>= 6.9.190403), ros-dashing-ament-cmake, ros-dashing-ament-lint-auto, ros-dashing-ament-lint-common, ros-dashing-opensplice-cmake-module, ros-dashing-rosidl-cmake, ros-dashing-rosidl-generator-c, ros-dashing-rosidl-typesupport-opensplice-cpp, ros-dashing-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-dashing-rosidl-typesupport-opensplice-c
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopensplice69 (>= 6.9.190403), ros-dashing-ament-cmake, ros-dashing-opensplice-cmake-module, ros-dashing-rmw, ros-dashing-rosidl-cmake, ros-dashing-rosidl-generator-c, ros-dashing-rosidl-generator-dds-idl, ros-dashing-rosidl-parser, ros-dashing-rosidl-typesupport-opensplice-cpp, ros-dashing-ros-workspace
Description: Generate the C interfaces for PrismTech OpenSplice.
