Source: ros-crystal-rosidl-typesupport-opensplice-cpp
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libopensplice67, ros-crystal-ament-cmake, ros-crystal-ament-lint-auto, ros-crystal-ament-lint-common, ros-crystal-opensplice-cmake-module, ros-crystal-rosidl-cmake, ros-crystal-rosidl-generator-c, ros-crystal-rosidl-generator-cpp, ros-crystal-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-crystal-rosidl-typesupport-opensplice-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libopensplice67, ros-crystal-ament-cmake, ros-crystal-opensplice-cmake-module, ros-crystal-rmw, ros-crystal-rosidl-cmake, ros-crystal-rosidl-generator-c, ros-crystal-rosidl-generator-cpp, ros-crystal-rosidl-generator-dds-idl, ros-crystal-rosidl-parser, ros-crystal-rosidl-typesupport-interface, ros-crystal-ros-workspace
Description: Generate the C++ interfaces for PrismTech OpenSplice.
